* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Ubuntu';
}

header {
    background-color: #9fb8ad;
    height: 10vh;
}

header h1 {
    margin: 0;
    padding: 2vh;
    font-family: 'Fugaz One', cursive;
    color: #fdf1d6;
}

.main-layout {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

.main-layout h2 {
    color: #383e56;

}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info-row {
    display: flex;
    flex-direction: column;
    margin-inline-end: 10px;
    background-color: #fdf1d6;
}

.info-h2 {
    margin-inline-start: 20px;
}

.item {
    width: 75%;
    background-color: rgb(255, 255, 255);
    margin: 5% auto;
    height: 100%;

}

/* large device */

@media screen and (min-width: 1400px) {
    .main-layout {
        max-width: 1300px;
    }
}

/* medium device(tablet) */

@media screen and (max-width: 800px) {
    .main-layout {
        max-width: 575px;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
    }

    .map-row {
        order: -1;
    }
}

/* small device (mobile) */
@media screen and (max-width: 550px) {
    .main-layout {
        max-width: 500px;
    }
}


@media screen and (max-width: 450px) {
    .main-layout {
        max-width: 400px;
    }
}