* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
    font-family: 'Ubuntu';
}

header {
    background-color: #9fb8ad;
    height: 8vh;
}

header h1 {
    margin: 0;
    padding: 2vh;
    font-family: 'Fugaz One', cursive;
    color: #fdf1d6;
}

.main-layout {
    max-width: 1500px;
    margin: 2% auto;
}
.main-layout h2 { 
    color: #383e56;
    text-align: center;

}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.row {
    height: 80vh;
    background-color: #fdf1d6;
}

.map-row {
    background-color: #fff;
}

.map-row #map {
    margin: 3%;
}

.info-row {
    display: flex;
    flex-direction: column;

}

.item {
    width: 75%;
    background-color: #fff;
    margin: 5% auto;
    height: 100%;

}

@media screen and (max-width: 1600px) {
    .main-layout {
        max-width: 1400px;
    }
}

@media screen and (max-width: 1400px) {
    .main-layout {
        max-width: 1100px;
    }
}

@media screen and (max-width: 1200px) {
    .main-layout {
        max-width: 900px;
    }
}

@media screen and (max-width: 960px) {
    .main-layout {
        max-width: 800px;
    }
}

@media screen and (max-width: 800px) {
    .main-layout {
        max-width: 575px;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
    }

    .map-row {
        order: -1;
    }
}

@media screen and (max-width: 700px) {
    .main-layout {
        max-width: 550px;
    }
}

@media screen and (max-width: 600px) {
    .main-layout {
        max-width: 550px;
    }
}

@media screen and (max-width: 550px) {
    .main-layout {
        max-width: 500px;
    }
}

@media screen and (max-width: 450px) {
    .main-layout {
        max-width: 400px;
    }
}

@media screen and (max-width: 400px) {
    .main-layout {
        max-width: 375px;
    }
}